[submodule "my_datasets/coco2017"]
	path = my_datasets/coco2017
	url = https://huggingface.co/datasets/whyen-wang/coco2017
[submodule "my_datasets/mnist"]
	path = my_datasets/mnist
	url = https://huggingface.co/datasets/whyen-wang/mnist
[submodule "my_models/resnet_model"]
	path = my_models/resnet_model
	url = https://huggingface.co/whyen-wang/resnet_model
[submodule "my_spaces/cocoeval"]
	path = my_spaces/cocoeval
	url = https://huggingface.co/spaces/whyen-wang/cocoeval
[submodule "my_spaces/my_metric"]
	path = my_spaces/my_metric
	url = https://huggingface.co/spaces/whyen-wang/my_metric
[submodule "my_datasets/coco_captions"]
	path = my_datasets/coco_captions
	url = https://huggingface.co/datasets/whyen-wang/coco_captions
[submodule "my_datasets/coco_detection"]
	path = my_datasets/coco_detection
	url = https://huggingface.co/datasets/whyen-wang/coco_detection
